html, body{
    width: 1200px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.login-container{
    position: absolute;
    width: 1200px;
}
.nav .container{
    display: flex;
    height: 60px;
}
.nav .container .logo{
    width: 10%;
}
.nav .container .logo p{
    top: 21px;
    width: 100%;
    margin: 0px;
    position: relative;
    color: black;
    font-weight: bold
}
.nav .container .listbtn{
    width: 80%;
}
.nav .container .listbtn ul{
    list-style: none;
    display: flex;
    float: left;
    width: 100%;
}
.login-container .img_br img{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.login-box{
    margin: 0;
    padding: 0;
    position: relative;
    height: 520px;
    width: 400px;
    left: 400px;
    top: 80px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
    box-shadow: 1px 2px 5px 1px;
}
.login-container .login-box h2{
    position: relative;
    top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-group{
    position: relative;
    top: 50px;
    margin-bottom: 20px;
}
.input-group input {
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 80%;
    font-weight: bold;
}
.btn{
    position: relative;
    top: 60px;
    width: 200px;
    padding: 15px;
    background: linear-gradient(to right, #8e2de2, #a306a3);
    color: white;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
}
.btn a{
    color: #fff;
}
p{
    position: relative;
    top: 80px;
    font-family:'Arial Narrow', Arial, sans-serif;
    color: #888;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    height: 30px;
    width: 30px;
    margin: 0 10px;
}
li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    top: 90px;
    margin-left: 110px;
}
.sign-up{
    position: relative;
    top: 150px;
}
