.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.nav_heading a{
    text-decoration: none;
    font-family: sans-serif;
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
}
.nav_heading a:hover{
    color: black;
}
.name_product{
    display: flex;
}
.name_product .left{
    width: 50%;
}
.name_product .right{
    width: 50%;
    display: flex;
}
.name_product .right .star_rating{
    width: 25%;
}
.name_product .right .star_rating ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    float: right;
}
.name_product .right .star_rating li{
    color: rgb(221, 220, 220);
    margin-right: 5px;
    font-size: 10px;
    position: relative;
    top: 20px;
    font-size: 150%;
}
.name_product .right .text_assess{
    width: 25%;
}
.name_product .right .text_assess a{
    text-decoration: none;
    position: relative;
    top: 20px;
    font-size: 150%;
}
.name_product .right .btn_compare{
    width: 50%;
}
.name_product .right .btn_compare a{
    text-decoration: none;
    position: relative;
    top: 20px;
    padding: 5px 10px;
    color: blue;
    font-size: 150%;
    border: 1px solid blue;
    border-radius: 5px;
}
.name_product .right .btn_compare a:hover{
    color: orangered;
}
.separate{
    width: 100%;
    height: 3px;
    background-color: rgb(245, 243, 243);
}
.content{
    width: 1200px;
    margin: 0;
    padding: 0;
}
.product{
    width: 100%;
    display: flex;
}
.product .col1_product{
    width: 60%;
}
.product .col1_product .slide_show{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.product .col1_product .slide_show .img_slide{
    display: flex;
}
.product .col1_product .slide_show .img_product{
    width: 100%;
    transition: transform 0.3s ease;
}
.img_product:hover{
    transform: scale(1.2);
}
.product .col1_product .slide_show .btn{
    font-size: 20px;
    color: blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.5;
}
.product .col1_product .slide_show .btn_left{
    left: 0;
}
.product .col1_product .slide_show .btn_right{
    right: 0;
}
.product .col1_product .text_standards{
    display: flex;
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 10px;
}
.product .col1_product .text_standards ul{
    list-style: none;
    padding: 0;
}
.product .col1_product .text_standards .icons_check li{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: green;
    border-radius: 50%;
    color: white;
}
.product .col1_product .text_standards .text_normal li{
    height: 20px;
    margin-top: 6px;
}
.product .col1_product .text_standards li{
    font-size: 150%;
    margin-bottom: 5px;
}

.product .col2_product{
    width: 40%;
    margin-left: 50px;
}
.product .col2_product .product_price{
    font-size: 200%;
    display: flex;
    margin-top: 10px;
}
.product .col2_product .product_price .price_old span{
    margin-left: 20px;
}
.product .col2_product .product_price .price_new{
    font-size: 150%;
    color: red;
    font-weight: bold;
}
.product .col2_product .product_price .price_old{
    opacity: 0.1;
}
.product .col2_product .color_product .text_normal{
    margin-left: 10px;
    font-size: 120%;
    font-weight: bold;
    margin-top: 20px;
}
.product .col2_product .color_product .btn_color_product{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 400px;
}
.product .col2_product .color_product .btn_color_product .btn_color{
    height: 50px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #cccbcb;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.product .col2_product .color_product .btn_color_product .btn_color:hover{
    border: 1px solid red;
}
.product .col2_product .color_product .btn_color_product .btn_color .item_product{
    height: 100%;
    width: 60px;
}
.product .col2_product .color_product .btn_color_product .btn_color .item_product img{
    width: 100%;
    height: 100%;
}
.product .col2_product .color_product .btn_color_product .btn_color .text{
    margin-left: 10px;
}
.product .col2_product .color_product .btn_color_product .btn_color .text p{
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}
.product .col2_product .btn_buy_cart{
    margin-top: 20px;
    display: flex;
}
.product .col2_product .btn_buy_cart .btn_cart{
    width: 30%;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 153, 255);
    cursor: pointer;
}
.product .col2_product .btn_buy_cart .btn_cart:hover{
    background-color: rgb(0, 81, 255);
}
.product .col2_product .btn_buy_cart .btn_cart .icon_cart{
    font-size: 200%;
    color: #fff;
}
.product .col2_product .btn_buy_cart .btn_cart .text_add_cart p{
    font-size: 120%;
    color: #fff;
    margin: 10px;
}
.product .col2_product .btn_buy_cart .btn_buy{
    width: 70%;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(255, 55, 0);
    padding: 10px;
}
.product .col2_product .btn_buy_cart .btn_buy:hover{
    background-color: rgb(150, 0, 0);
}
.product .col2_product .btn_buy_cart .btn_buy .text_buy h4{
    font-size: 150%;
    color: #fff;
    margin: 0;
    margin-top: 10px;
}
.product .col2_product .btn_buy_cart .btn_buy p{
    color: #fff;
    font-size: 120%;
    margin: 0;
    margin-top: 10px;
}
.product .col2_product .box_gift{
    width: 100%;
    border: 2px solid rgb(39, 39, 255);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.product .col2_product .box_gift .text_gift h2{
    margin-top: 0;
    font-size: 250%;
    color: rgb(223, 223, 0);
}
.product .col2_product .box_gift .text_normal{
    font-size: 150%;
    color: rgb(76, 76, 255);
}
.product .col2_product .box_gift .form_lh .input_group input{
    width: 420px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 150%;
}
.product .col2_product .box_gift .form_lh .btn_gift{
    width: 420px;
    height: 40px;
    text-align: center;
    background-color: orangered;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 10px;
}
.product .col2_product .box_gift .form_lh .btn_gift a{
    text-decoration: none;
    color: #fff;
}



